* {
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 87, 88);
}

main {
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
}

div.burger-menu-icon {
    display: inline-block;
    font-size: 24px;
    padding: 30px;
}

div.content-wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

div.image-wrapper {
    width: 50%;
    text-align: center;
}

div.text-wrapper {
    width: 50%;
    font-family: 'Arial Narrow';
}

h1 {
    color: blue;
    font-size: 100px;
    margin: 0;
}

p.first-error-message {
    font-weight: bolder;
}

p.second-error-message {
    font-family: 'Segoe UI';
    color: grey;
    font-weight: 100;
}

div.link-wrapper {
    width: 50%;
    float: right;
}

div.link-wrapper a {
    font-family: 'Arial Narrow';
    font-weight: bolder;
    text-decoration: none;
    color: black;
}



